In [1]:
import pandas as pd

In [2]:

# made a final copy of the CSV to manually check
df = pd.read_csv('../data/processed/field_notes_with_standardized_names_v2.csv')

In [3]:
# add standardized name
df['Standardized Name'] = df.name.map(lambda x: x.split(' - ')[0] if type(x)==str else x)

In [4]:
# add scientific name column
df['Scientific Name'] = df.name.map(lambda x: x.split(' - ')[1] if type(x)==str else x)

In [5]:
# add eBird link
df['eBird URL'] = df.apply(lambda x: f'=HYPERLINK("https://ebird.org/species/{x["id"]}?siteLanguage=en_IN", "{x["Standardized Name"]}")' if type(x['id'])==str else None, axis=1)

In [6]:
# change format of date
df['date'] = pd.to_datetime(df['Date'], format='%d-%m-%y')
df['Date'] = df['date'].dt.strftime('%d %b %Y')

In [8]:
ddf = df[[
    'Date', 'Time', 'Location', 'Weather', 'Bird Species', 'Standardized Name',
    'Notes', 'Count', 'Sex', 'Comments', 'Scientific Name', 'eBird URL'
    ]]

ddf = ddf.rename(columns = {
    'Bird Species': 'Name from Notes',
    'Standardized Name': 'Common Name',
    'Notes':'Seen/Heard',
    'Sex':'Male/Female',
    
    })

In [9]:
ddf.sample(5)

,Date,Time,Location,Weather,Name from Notes,Common Name,Seen/Heard,Count,Male/Female,Comments,Scientific Name,eBird URL
443,NaN,NaN,NaN,NaN,pond heron,Indian Pond-Heron,NaN,NaN,NaN,NaN,Ardeola grayii,"=HYPERLINK(""https://ebird.org/species/inpher1?..."
744,NaN,NaN,NaN,NaN,common myna,Common Myna,NaN,NaN,NaN,NaN,Acridotheres tristis,"=HYPERLINK(""https://ebird.org/species/commyn?s..."
59,NaN,NaN,NaN,NaN,cattle egret,Eastern Cattle Egret,NaN,NaN,NaN,NaN,Bubulcus coromandus,"=HYPERLINK(""https://ebird.org/species/categr2?..."
544,NaN,NaN,NaN,NaN,Ashy wren warbler,Ashy Prinia,NaN,NaN,NaN,NaN,Prinia socialis,"=HYPERLINK(""https://ebird.org/species/ashpri1?..."
772,NaN,NaN,NaN,NaN,coppersmith,Coppersmith Barbet,seen,NaN,NaN,NaN,Psilopogon haemacephalus,"=HYPERLINK(""https://ebird.org/species/copbar1?..."

In [10]:
df.to_excel('../data/output/field_notes.xlsx', index=False)

In [11]:
# save CSV
ddf.to_csv('../data/output/field_notes.csv', index=False)

In [12]:
# save a version of the list as a MarkDown table
ddf = ddf.rename(columns = {'eBird URL':'eBird'})
ddf['eBird URL'] = df.apply(lambda x: f'[{x["Standardized Name"]}]("https://ebird.org/species/{x["id"]}?siteLanguage=en_IN")' if type(x['id'])==str else None, axis=1)

markdown_table = ddf[[
    'Date', 'Time', 'Location', 'Weather', 'Name from Notes', 'Common Name',
    'Seen/Heard', 'Count', 'Male/Female', 'Comments', 'Scientific Name',
    'eBird URL']].fillna('').to_markdown()

In [13]:
# Save the markdown table to a .md file
with open('../data/output/field_notes.md', 'w') as f:
    f.write(markdown_table)